*{
  padding: 0;
  margin: 0;
}

body,html{
  font-size: 14px;
  color: #000;
  background: #fff;
  font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,Hiragino Sans GB,Microsoft YaHei;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.fn-clear {
  zoom:1}
a {
  color: #0366d6;
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
}

.header{
  width: 100%;
  background-color: #474747;
}

.header-box{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #d5d5d5;
  transition: color .3s;
}

.header-box>.logo{
  letter-spacing: 0;
  font-size: 12px;
}

.wraper{
  width: 1200px;
  margin: 0 auto;
}

.container{
  min-height: 500px;
  padding: 80px 0;
}

.footer{
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 16px;
}
.footer-box{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner_box{
  width: 100%;
  min-width: 1200px;
  height: 438px;
  background: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/banner-2QEtv.jpg?2QEtv) 50% no-repeat;
  background-size: cover;
}
.banner_box>.banner_inner{
  width: 1200px;
  margin: 0 auto;
  padding-top: 112px;
}
.banner_inner>.slogan{
  width: 427px;
  height: 54px;
  background: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/slogan@2x-3x9xM.png?3x9xM);
  background-size: 100% auto;
  margin: 0 auto 25px;
  text-indent: -99999rem;
}
.banner_inner>.des{
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.9;
  color: #fff;
  text-align: center;
}
.banner_inner>.btn{
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  border-radius: 4px;
  background-color: #15a9ff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.show_time>.feature-con{
  background: #fff;
  border-bottom: 2px solid #f8f8f8;
  min-width: 1200px;
}
.feature-con>.feature{
  list-style: none;
  margin: 0 auto;
  padding: 40px 0 60px;
  width: 1200px;
}
.feature>.feature-item{
  float: left;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 132px;
}
.feature>.feature-item:first-child{
  margin-left: 88px;
}
.feature>.feature-item:last-child{
  margin-right: 0;
}
.feature .ico{
  display: inline-block;
  width: 160px;
  height: 130px;
  background: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/feature-icon1@2x-BvNad.png?BvNad);
  background-size: 100% auto;
}
.feature>.feature-item:nth-child(2) .ico{
  background-image: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/feature-icon2@2x-1raFv.png);
}
.feature>.feature-item:nth-child(3) .ico{
  background-image: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/feature-icon3@2x-2y1F0.png);
}
.feature>.feature-item:nth-child(4) .ico{
  background-image: url(https://res.hjfile.cn/cc/cctalk.hujiang.com/home/images/feature-icon4@2x-27VL5.png);
}
.feature-item>.tit{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  text-align: center;
  font-weight: 400;
}
.feature-item>.des{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  text-align: center;
  opacity: .5;
}

.hp-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: .5;
  filter: Alpha(opacity=50);
  background-color: #000;
}

.hp-dialog{
  width: 370px;
  border-radius: 5px;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 5px 30px rgba(0,0,0,.2);
  z-index: 1000000;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%); 
}

.hp-box{
  padding: 12px 30px 30px;
  color: #333;
}
.hp-box h1{
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}
.hp-box .error{
  color: red;
  line-height: 30px;
}
.hp-box input{
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 20px;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.hp-box button{
  display: block;
  width: 100%;
  height: 42px;
  background-color:#44b336;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  outline: 0;
  cursor: pointer;
}
.hp-box input:focus,.hp-box input:focus:hover {
  border: 1px solid #44b336
}

.hp-box input:hover {
  border: 1px solid #ddd
}

.hp-box input::-webkit-input-placeholder {
  color: #ddd
}

.hp-box input::-ms-input-placeholder {
  color: #ddd
}

.hp-box input::-ms-reveal {
  display: none
}

.hp-box input::-ms-clear {
  display: none
}
.footer .title{
  font-size: 24px;
}
.footer .info{
  letter-spacing: 2px;
}