<footer class="footer">
    <div class="footer-box wraper">
        <p class="title">沪江Web前端团队倾情奉献</p>
        <p><a href="https://github.com/ikcamp">https://github.com/ikcamp</a></p>
        <br>
        <p class="info">iKcamp由沪江Web前端团队中热爱原创和翻译的小伙伴发起，成立于2016年7月，"iK"代表布兰登·艾克（JavaScript之父）。 追随JavaScript这门语言所秉持的精神，崇尚开放和自由的我们一同工作、分享、创作，等候更多有趣跳动的灵魂。</p>
        <p class="police">沪ICP备17041059号 ©2017-2018 </p>
        <div class="gov_item_box">
            <a target="_blank" href="http://jubao.china.cn:13225/reportform.do" class="gov_item gov_item1"><i></i><span>中国互联网举报中心</span></a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000355" class="gov_item gov_item2"><i></i><span>互联网站备案信息</span></a>
            <a target="_blank" href="http://www.shjbzx.cn/" class="gov_item gov_item3"><i></i><span>上海互联网举报中心</span></a>
            <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120514145658342" class="gov_item gov_item4"><i></i><span>工商网监电子标识</span></a>
            <a target="_blank" href="http://www.cyberpolice.cn/wfjb/" class="gov_item gov_item5"><i></i><span>上海网络报警平台</span></a>
        </div>
    </div>
</footer>
<div style='display:none'>
    <script src="//s19.cnzz.com/z_stat.php?id=1264413927&web_id=1264413927" language="JavaScript"></script>
</div>